<html>  
        <head>
		<link rel="stylesheet" type="text/css" href= "/bootstrap/css/bootstrap.min.css">
		  
        </head>
		
        <body>  
            
			hello   welcome !    input your email as your name  to enter chatroom!
			<div class="login-box-body" >
			<form action="/user/login" method="post">
				<input type="email" class="form-control" name="email" placeholder="Email">
				<button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
			</form>
			</div>
        </body>  
        <!-- jQuery 2.1.4 -->
<script src="/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
</html> 